@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: serif, Roboto;
}

body {
	padding: 0;
}

/* Remove background image styles as we're using image elements directly */